---
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import CompanyLogo from "@/components/CompanyLogo.astro";
import TestimonialsCarousel from "@/components/TestimonialsCarousel.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import companies from "@/data/companies";
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <Image
            src={presentation.profile}
            class="w-1/4 self-center rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-800 dark:text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[100ch] leading-6 whitespace-pre-line text-neutral-700 dark:text-neutral-400"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header>
        <h3 class="text-lg text-neutral-800 dark:text-neutral-100">Firms I worked for</h3>
      </header>
      
      {companies.length === 0 && <p>No companies to show yet.</p>}

      <section class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-6">
        {
          companies.length !== 0 &&
            companies.map((company) => <CompanyLogo {...company} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header>
        <h3 class="text-lg text-neutral-800 dark:text-neutral-100">What they say</h3>
        <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
          Testimonials from ex-clients and colleagues
        </p>
      </header>
      
      <TestimonialsCarousel />
    </article>


  </main>
</Layout>
