---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
// import ThemeToggle from "./ThemeToggle.astro";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <a href={`mailto:${presentation.mail}`} class="text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-100 dark:text-neutral-400"
    >{presentation.mail}</a
  >

  <nav role="navigation" class="flex items-center">
    <ul role="list" class="flex flex-row gap-2 mr-4">
      <li>
        <a
          href="/"
          class:list={{
            ["text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-100 dark:text-neutral-400"]: true,
            ["text-neutral-800 dark:text-neutral-100"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li class="text-neutral-600 dark:text-neutral-400">/</li>
      <li>
        <a
          href="/tutorials"
          class:list={{
            ["text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-100 dark:text-neutral-400"]: true,
            ["text-neutral-800 dark:text-neutral-100"]: pathname === "/tutorials",
          }}>Tutorials</a
        >
      </li>
      <li class="text-neutral-600 dark:text-neutral-400">/</li>
      <li>
        <a
          href="/projects"
          class:list={{
            ["text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-100 dark:text-neutral-400"]: true,
            ["text-neutral-800 dark:text-neutral-100"]: pathname === "/projects",
          }}>Projects</a
        >
      </li>
      <li class="text-neutral-600 dark:text-neutral-400">/</li>
      <li>
        <a
          href="/speaking"
          class:list={{
            ["text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-100 dark:text-neutral-400"]: true,
            ["text-neutral-800 dark:text-neutral-100"]: pathname === "/speaking",
          }}>Speaking</a
        >
      </li>
    </ul>
    <!-- <ThemeToggle /> -->
  </nav>
</header>
